<section class="body">

<div class="row">
{{#if data}}
{{#each data}}

<div class="col-12 justify-content-around">
  <h3>Diagnostic: <a class="diagnostic" href="/diagnostic/{{Issue.ID}}">{{Issue.Name}}</a></h3>
  <p>Likelihood of an accurate diagnosis: {{Issue.Accuracy}}%</p>
</div>
{{/each}}
{{else}}

  <p>No diagnostic</p>

{{/if}}
</div>
</section>