<section class="diagnostic">

<div class="row">
{{#if data}}
{{#each data}}

<div class="col-12 justify-content-around diagnostic-row">
  <h3>Diagnostic: {{Issue.Name}}</h3>
  <p>Likelihood of an accurate diagnosis: {{Issue.Accuracy}}%</p>
  <a class="underline" href="/diagnostic/{{Issue.ID}}">Details</a>
</div>
{{/each}}
{{else}}

  <p>No diagnostic</p>

{{/if}}
</div>
</section>