  <section class="map">
  
  <div id="map"></div>
 
  <script src="./javascripts/maps.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&libraries=places&callback=initMap"></script>
  {{!-- <script src="https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU"></script> --}}

  </section>