  <section class="map">
  
  <h4>Ruta a tu hospital más cercano.</h4>
  <div id="map"></div>
 
  <script src="./javascripts/maps.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&libraries=places&callback=initMap"></script>
  </section>