
  <section class="symptoms-page">

    <div class="row justify-content-around align-items-center">
      <div  class="col-lg-6 instructions">
        <p>Click any part of the body to indicate what are your symptoms.</p>
        <form action="/symptoms" method="POST" id="symptomsForm" >
          <ul id="ulSymptoms" class="row">
          </ul>
        <button class="btn btn-outline-secondary">Get your Diagnostic</button>
        </form>
      </div>

      <div class="col-lg-6">
        <div class="modal" id="symptoms-modal" tabindex="-1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Symptoms</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
            </div>
          </div>
        </div>
        <img src="./images/bodyimg.png" usemap="#image-map">
        <map name="image-map">
          <area data-part="arms" target="" alt="arms" title="Arms" id="arms" coords="208,195,13" shape="circle">
          <area data-part="abdomen" target="" alt="abdomen" title="Abdomen" id="abdomen" coords="261,240,11" shape="circle">
          <area data-part="chest" target="" alt="chest" title="Chest" id="chest" coords="261,129,11" shape="circle">
          <area data-part="head" target="" alt="head" title="Head" id="head" coords="262,54,13" shape="circle">
          <area data-part="legs" target="" alt="legs" title="Legs" id="legs" coords="285,358,11" shape="circle">
          <area data-part="skin" target="" alt="skin" title="Skin & others" id="skin" coords="328,192,12" shape="circle">
        </map>
      </div>

    </div>
  </section>
