* {
	font-family: 'Lato', sans-serif;
}

body {
	background-color: rgb(250, 250, 250);
}

main {
	min-height: 100vh;
	max-width: 100vw;
	padding-top: 65px;
}

.heart-svg {
	display: inline-block;
	fill: currentColor;
	width: 1em;
	height: 1em;
	font-size: 15em;
	margin: 25px auto;
	width: 100%;
}

#top,
#bottom {
	color: #555;
}
#middle {
	stroke: red;
	color: transparent;
	stroke-width: 1;
	animation: draw 3.5s linear infinite reverse, fill 3.5s linear infinite forwards;
}

@keyframes draw {
	from {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: 500;
	}
}

@keyframes fill {
	70% {
		color: transparent;
	}
	100% {
		color: red;
	}
}

a {
	color: black;
	margin: 0 10px;
	transition: all 100ms;
}

a:hover {
	color: black;
	text-decoration: none;
}

#layer1 g {
	opacity: 0;
	transition: opacity 0.5s;
}

#layer1.done g {
	opacity: 1;
}

#map {
	height: 83vh;
	width: 100%;
}

.mapForm {
	padding-top: 10px;
	display: block;
	margin: 0 42%;
	button {
		margin-left: 10px;
	}
}

nav {
	position: absolute;
	height: 65px;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(233, 233, 233, 0.5);
}

nav a {
	font-weight: 900;
	margin: 0 15px;
	display: inline-block;
	margin: auto 0;
}

.hero {
	text-align: center;
	width: 100vw;
	height: 100vh;
	svg {
		margin-top: 25vh;
		font-size: 20em;
	}
}

.hero h1 {
	position: absolute;
	top: 40vh;
	left: 38vw;
}

.login,
.signup {
	width: 33%;
	font-size: 1.2em;
	margin: 40px auto;
	select {
		margin: 10px;
	}
	button {
		margin: 10px;
	}
}

.login label,
.signup label {
	margin: 10px 0;
}

.signup {
	font-size: 1.2em;
}

.login input,
.signup input {
	display: flex;
	width: 30vw;
	margin: 10px;
}

#heart {
	margin-left: 10px;
}

ul {
	list-style: none;
	text-align: left;
}

.profile {
	font-size: 1.2em;
	ol li {
		font-size: 1em;
	}
}

.menu {
	opacity: 100;
	border-radius: 15px;
	text-align: center;
	width: 200px;
	background-color: whitesmoke;
	p.symptom {
		font-size: 0.6em;

		padding: 2px 10px;
	}
}

a.diagnostic {
	color: blue;
}

.symptoms-page {
	padding: 10%;

	li {
		font-size: 1.2em;
		padding: 5px 20px;
	}
	h5 {
		font-size: 1.5em;
	}
	.instructions {
		p {
			font-size: 1.6em;
		}
	}
	.symptom {
		cursor: pointer;
		font-size: 1.4em;
		padding-right: 5px;
	}

	.bodyImg {
		position: relative;
		width: 120%;
		height: auto;
		align-items: center;
	}
}

.dot {
	width: 30px;
	height: auto;
}

.hidden {
	opacity: 0;
	border-radius: 15px;
	text-align: center;
	width: 200px;
	background-color: whitesmoke;
	p {
		font-size: 0.9em;
	}
}
